<div class="project-container">
<mat-grid-list cols="1" rowHeight="50%">
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        <img src="assets/homepage.png" alt=""  style="object-fit: cover; height: inherit; width: inherit;">
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        <div>
        <h1 class="header">Austin Animal Center (AAC) Database</h1>
        <p class="mat-body-2 body-size">The dataset we decided to use was created by Austin Animal Center (AAC), which is the largest shelter in the United States. The data contains intakes and outcomes of animals entering the AAC. The source of this data is Kaggle. It consists of 41 attributes, and the size of the data is 30MB</p>
        <p class="mat-body-2 body-size">The Austin Animal Center is the largest no-kill animal shelter in the United States that provides care and shelter to over 18,000 animals each year. </p>
        <p class ="mat-body-2 body-size">In this database, we planned to develop an application managing the information of the animals in the AAC. This would help to match an animal with a person who is interested in adopting. There will be 3 functions in the application.</p>
            <ul class ="mat-body-2 body-size">
                <li>Searching for pets available for adoption by their preference such as animal type, gender, age, breed and hair color.</li>
                <li>Insert and delete the animal information </li>
                <li>See statistics related to what is going on with the animals in the shelter </li>
            </ul>
    </div>  
    </mat-grid-tile>
  </mat-grid-list>
</div>