.container {
  overflow: hidden;
}

#leftbox {
  text-align: center;
  display: inline-block;
  margin: 1rem;
}

#rightbox {
  float: right;
}

.searchBoxes {
  font-size: medium !important;
  display: inline-block;
  margin-left: 1rem;
}

